html {
    background-color: #F4CC21;
    
}
body {
    background-color: #F4CC21;
    /*margin: 20px;*/
}
.header {
    background-image: url(https://raw.githubusercontent.com/amandersonyou/data-structures/master/week10/assets/HeaderDesign.png);
    padding: 40px;
    text-align: left;
    color: black;
    font-size: 60px;
}

h2 {
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 20px;
    /*padding: 40px;*/
    /*background-color: orange;*/
}

h3 {
    font-size: 1.1rem;
    padding-left: 20px;
    /*background-color: grey;*/
}

h4 {
    font-size: 1.25rem;
    /*background-color: green;*/
    padding-bottom: 20px;
    padding-left: 20px;
}

p {
    /*background-color: red;*/
    padding-left: 20px;
    font-size: 1rem;
    width: 75%;
}

.blogposts {
    display: block;

}

.dropdown {
    display: block;
}

.custom-select {
    background-color: black;
    color: white;
    display: inline-block;
    width: 350px;
    outline: none !important;
}




/*.description {*/
/*    padding: 40px;*/
/*    text-align: left;*/
/*    background: #F4CC21;*/
/*    color: white;*/
/*    font-size: 20px;*/
/*}*/

/*.column {*/
/*    float: right;*/
/*    width: 50%;*/
/*    padding: 10px;*/
/*    background: #F4CC21;*/
/*}*/
/*.row::after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: table;*/
/*}*/


