h3 {
    font-size: 1.1rem;
}

.blogposts {
    display: block;
}

.dropdown {
    display: block;
}

.custom-select {
    background-color: grey;
    color: white;
    display: inline-block;
    width: 300px;
    outline: none !important;
}

