html {
    background-color: #F4CC21;
    
}

.header {
    background-image: url(https://raw.githubusercontent.com/amandersonyou/data-structures/master/week10/assets/HeaderDesign.png);
    padding: 40px;
    text-align: left;
    /*background: #F4CC21;*/
    color: black;
    font-size: 60px;
}

.description {
    padding: 40px;
    text-align: left;
    background: #F4CC21;
    color: white;
    font-size: 20px;
}

.links {
    padding: 40px;
    text-align: center;
    background: #F4CC21;
    color: white;
    font-size: 15px;
}


#mapid { height: 760px; }

