html {
    background-color: #F4CC21;
    
}

.header {
    padding: 60px;
    text-align: left;
    background: #F4CC21;
    color: white;
    font-size: 60px;
}

.description {
    padding-left: 60px;
    text-align: left;
    background: #F4CC21;
    color: white;
    font-size: 20px;
}


#mapid { height: 760px; }

